[submodule "external/poppler"]
	path = external/poppler
	url = git://git.freedesktop.org/git/poppler/poppler
[submodule "external/mupdf"]
	path = external/mupdf
	url = git://git.ghostscript.com/mupdf.git
[submodule "external/openjpeg"]
	path = external/openjpeg
	url = git@github.com:uclouvain/openjpeg.git
[submodule "external/ghostpdl"]
	path = external/ghostpdl
	url = git://git.ghostscript.com/ghostpdl.git
[submodule "external/libpng"]
	path = external/libpng
	url = git://git.code.sf.net/p/libpng/code
